#logo-login {
  height: 100px;
  width: 100px;
}

#login-page {
  display: flex;
  margin: auto;

  min-height: 100vh;
  max-width: fit-content;
  align-items: center;

  gap: 18.75rem;
}

.container {
  display: flex;
  flex-direction: column;

  padding: 2.5rem;

  gap: 0.625rem;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.49);

  & input {
    padding: 0.625rem;

    border: none;
    border-radius: 10px;

    min-width: 400px;
  }

  & button {
    cursor: pointer;

    padding: 0.625rem;
    margin-top: 3.125rem;

    background-color: #f1f1f1;
    border: 2px solid #da345d;
    border-radius: 10px;

    color: #da345d;
  }
}

#title-login {
  margin-bottom: 0.625rem;
}

#text-login {
  font-weight: 500;
}
