* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Saira", sans-serif;
  padding-top: 100px;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bruno Ace", sans-serif;
}

p {
  color: #232323;
}

body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}
