#questions {
  margin: 4rem;
}

.question-card {
  padding: 1.875rem;
  background-color: #641226;

  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 10px;

  cursor: pointer;

  & p {
    color: #f1f1f1;
    padding: 0.5rem;
  }
}
