#questions {
  max-width: 90%;
  margin: 0 auto;

  padding: 4rem 1rem;
}

.question-card {
  max-width: 100%;

  padding: 1.5rem;
  background-color: #641226;

  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 10px;

  cursor: pointer;

  & summary {
    font-size: 1.05rem;
  }

  & p {
    color: #d4d4d4;
    padding-top: 1rem;
  }
}
