#contact-info {
  max-width: 1300px;
  margin: 3.125rem 4rem;

  & p {
    margin-top: 3.5rem;
  }
}

#contact-main {
  height: 100%;
}

#contact-body {
  height: 100vh;
}

#footer-contact {
  position: fixed;
  bottom: 0;

  width: 100vw;
}
