#info {
  max-width: 80%;

  margin: 2rem auto;
  text-align: center;

  padding: 0 1rem;
}

.important-card {
  background-color: #641226;
  padding: 1.5rem 3rem;

  & h2 {
    margin-bottom: 0.625rem;
    font-size: 32px;
    font-weight: 500;

    color: #f1f1f1;
  }

  & p {
    color: #f1f1f1;
  }
}

#card-text {
  max-width: 80%;
  margin: auto 0 auto 1.875rem;

  font-size: 1.5rem;
}

.mid-card {
  background-color: #30050e;
  margin-block: 0.625rem;
}

#motivation {
  max-width: 100%;

  text-align: center;
  margin: 2rem auto;

  padding: 2rem 2rem;
}

#slogan {
  display: flex;
  border: 1px solid red;
}

@media (min-width: 992px) {
  .important-card {
    padding: 3.5rem 6.25rem;
    flex-direction: row;
  }

  #mid-card {
    flex-direction: row-reverse;
  }

  #title-first-card, #title-second-card{
    text-align: right;
  }
}