#info {
  max-width: 90%;

  margin: 4rem auto;
}

#title {
  text-align: center;
}

.important-card {
  background-color: #641226;
  padding: 2.5rem 2rem;

  & h2 {
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 500;

    color: #f1f1f1;
  }

  & p {
    color: #f1f1f1;
  }
}

#card-text {
  max-width: 90%;

  font-size: 1.5rem;
}

.mid-card {
  background-color: #30050e;
  margin-block: 0.625rem;
}

#motivation {
  max-width: 90%;

  text-align: center;
  margin: 6rem auto;
}

@media (min-width: 992px) {
  .important-card {
    padding: 3.5rem 6.25rem;
    flex-direction: row;
  }

  #mid-card {
    flex-direction: row-reverse;
  }

  #title-first-card,
  #title-second-card {
    text-align: right;
  }
}
