@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import url(./global.css);
@import url(./utility.css);

@import url(./index/main.css);

@import url(./about/main.css);

@import url(./contact/main.css);

@import url(./who/main.css);

@import url(./faq/main.css);

@import url(./login/main.css);
