#colaborator {
  margin: 3.125rem 4rem;

  .infoColaborator {
    justify-content: center;

    gap: 0.625rem;
    margin-inline: 0.625rem;
  }

  #lucas-campanha {
    justify-content: end;

    margin-block: 100px;
  }
}
